<header>
  <a href="/">  <img class="logo" title="Reset Game" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2000px-International_Pok%C3%A9mon_logo.svg.png" alt="Pokemon"></a>
</header>

<div id="top">
		<form action="/" method="post">
				<p>Zoek hier je Pokémon op naam of nummer:</p>
				<input type="text" class="left" name="input" placeholder="typ de naam of nummer"><br></br>
				<input type="submit" class="right" value="Zoek!">
		</form>
</div>


<div id="trainerstop">
  <p class="titel"> Ontdek hier meer over de betste Pokémontrainers!</p>
		<ul class="trainers">
      <p class="leftbox"><b>Ash Katchum</b><br><img src="../img/ash.jpg" alt="ash"></p>
      <p class="righbox">Through his adventures we experienced the Pokemon world and all of its glory. We watched him transform from the kid who had a Metapod stand off to the kid saving the world on numerous occasions. He also has quite the army of back-up Pokemon that allow for interesting battles outside of him choosing Charizard or Pikachu. One of our favorite battles is when he uses Muk to achieve victory against Bellsprout. </p>

      <p class="leftbox"><b>Red</b><br><img src="../img/Red.jpg" alt="ash"></p>
      <p class="righbox">You/the protagonist in the Red and Blue video games, presented as the ultimate fighter in Gold and Silver. He also happens to be the main hero at the start of the manga Pokemon Adventures. Though, it’s us beating the Elite 4 as well as our rival to become the top trainer in Kanto, the fact that Red would have done it with or without our guidance became canon the moment they included him in Gold and Silver.</p>

      <p class="leftbox"><b>Professor Oak</b><br><img src="../img/professor.jpg" alt="ash"></p>
      <p class="righbox">Professor Samuel Oak is a major character in the Pokémon anime, and yet, little is known about his backstory. In the Pokémon Adventures manga, however, his history is illuminated quite a bit. In his more youthful days, Oak was known far and wide as a great trainer; rival and friend to Indigo Elite Four member Agatha. He even managed to take on the Pokémon League and was eventually crowned champion.</p>

    </ul>
</div>
