/* custom css for pokedex */
* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-color: #B71B29;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	font-family: Pokemon GB;
}

header {
	margin-top: 50px;
}

.logo {
	width: 25%;
}

#top {
	margin: 0 auto;
	width: 40%;
	max-width: 600px;
	height: 100%;
	border-radius: 10px;
	background-color: white;
	margin-top: 5%;
	padding: 20px;
}

#trainerstop {
	margin: 0 auto;
	width: 80%;
	max-width: 950px;
	height: 100%;
	border-radius: 10px;
	background-color: white;
	margin-top: 5%;
	padding: 20px;
}

#main {
	margin: 0 auto;
	width: 40%;
	max-width: 600px;
	height: 100%;
	border-radius: 10px;
	background-color: white;
	margin-top: 5%;
	padding: 20px;
}

.mainbox {
	padding: 5px 30px;
}

.left {
	margin-top: 15px;
    padding: 15px 10px;
    width: 95%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc;
}

.right {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: #2C5EA8;
    color: #fff;
    border: none;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
}

.right:hover {
	background: #FFC40B;
	color: black;
}

.mainbox {
	border: 4px black solid;
	padding-bottom: 20px;
}

.trainers p {
	font-size: 9px;
	text-align: justify;
}

.righbox {
	margin-bottom: 20px;
	padding-right: 30px;
}

.titel {
	margin: 25px 0 25px 0;
}

.errorpoke {
	width: 40%;
	padding: 20px;
}

.leftbox {
	width: 50%;
	float: left;
}

@media screen and (max-width: 1200px) {
  #top {
		width: 80%;
		margin-top: 20px;
	}
	#main {
		width: 80%;
	}
	body {
		font-size: 9px;
		line-height: 18px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;
	}
	header {
		margin-top: 10px;
	}
	.logo {
		width: 40%;
	}
}

@media screen and (max-width: 600px) {
	#trainerstop {
		width: 85%;
	}
	.leftbox {
		width: 100%;
	}
}
